{% load cart_tag %}
<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="/static/logo/logo.png" alt=""></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation"> <span class="navbar-toggler-icon" ></span> </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'cart' %}" class="nav-link">
                        <i class="fa fa-shopping-cart"></i>Cart
                        <span class="badge badge-light"> {{ request.user|cart_total }}</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    {% if user.profile.full_name %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user.profile.full_name}}
                    </a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user.email}}
                    </a>
                    {% endif %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'order' %}">Orders</a>
                        {% if user.vendor_profile %}
                        <a class="dropdown-item" href="{% url 'vendor_product' %}">View Your Product</a>
                        <a class="dropdown-item" href="{% url 'add_product' %}">Add Product</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </li>
                {% if user.vendor_profile %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vendor' %}">Become a Vendor?</a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn btn-primary"> Sign Up / Log In </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
